body
{
    background: white;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Open Sans', sans-serif;
}

footer
{
    background:  #CECFD3;
    text-align: center;
}

.page
{
    background: #fff;
    border-radius: 1em;
    margin-bottom: 30px;
    padding: 1em;
}